[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=tasbeeh3
Exec=/opt/tasbeeh3/bin/tasbeeh3
Icon=tasbeeh3
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
